@import '@folio/stripes-components/lib/variables';

.scanned {
  display: block;
  margin-bottom: var(--gutter);
  text-align: left;
  width: 100%;
}

.selected {
  border: 3px solid var(--primary);
}

.selected, .selected > div {
  background: var(--color-fill-hover);
}
